.card-image {
  width: 200px;
  height: 250px;
}
.card {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  margin: 30px;
  height: 250px;
}
.card-content {
  padding: 40px;
  background-color: #2b2e2b;
}
.all-movie-genres {
  font-size: 12px;
  white-space: nowrap;
  padding-bottom: 15px;
  display: flex;
}
.movie-genre {
  position: relative;
  padding-right: 3px;
}
.movie-genre::after {
  content: " |";
}
.movie-genre:last-child::after {
  content: "";
}
.movie-title {
  font-size: 22px;
  padding-bottom: 15px;
}
.movie-description {
  padding-bottom: 25px;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.read-more-button {
  border-radius: 12px;
  background-color: #cc7731;
  width: 75%;
  border: #cc7731;
  color: white;
}
.read-more-button:hover {
  background-color: #2b2e2b;
  border: 1px solid #cc7731;
}
