.card {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  height: 250px;
  min-width: -0;
}
.card-image {
  width: 200px;
  height: 250px;
}
.card-content {
  padding: 23px;
  background-color: #2b2e2b;
  flex: 1;
}
.all-card-genres {
  font-size: 12px;
  white-space: nowrap;
  padding-bottom: 15px;
  display: flex;
}
.card-genre {
  position: relative;
  padding-right: 3px;
}
.card-genre::after {
  content: " |";
}
.card-genre:last-child::after {
  content: "";
}
.card-title {
  font-size: 22px;
  padding-bottom: 15px;
}
.card-description {
  font-size: 15px;
  max-height: 91.75px;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  margin-bottom: 15px;
}
.read-more-button {
  border-radius: 12px;
  background-color: #cc7731;
  border: 1px solid #cc7731;
  text-align: center;
  font-size: 13.5px;
  display: block;
  width: 50%;
}
.read-more-button:hover {
  background-color: #2b2e2b;
}
